.carousel-item {
  width: 100%;
}

.custom-table {
  background-image: url('/img/2.png');
  background-color: rgba(255, 255, 255, 0.162);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  /* opacity: 0.5; */
}

thead {
  text-align: center;
}

.carousel-inner {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.carousel-control-prev,
.carousel-control-next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10;
}

#sponsor,
#guru-piket,
#jadwal-sholat {
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 15px;
}

/* Atur tinggi slider agar pas dengan card sponsor */
.slider {
  height: 26vh;
  /* Atur tinggi slider sesuai dengan tinggi card sponsor */
  overflow: hidden;
  /* Pastikan konten dalam slider tidak keluar dari card */
}

/* Atur ukuran maksimum video dan gambar */
.slider video,
.slider img {
  max-width: 100%;
  /* Sesuaikan ukuran maksimum dengan lebar container */
  max-height: 100%;
  /* Sesuaikan ukuran maksimum dengan tinggi container */
  width: auto;
  height: auto;
}

#sponsor,
#guru-piket,
#jadwal-sholat {
  height: 30vh;
  /* Sesuaikan tinggi dengan preferensi Anda, misalnya 30% dari tinggi viewport */
  overflow-y: auto;
  /* Tambahkan overflow jika konten melebihi tinggi */
}

#guru-piket {
  height: 25vh;
}

#jadwal-sholat {
  height: 20vh;
  max-width: 100%;
  margin-left: 0px;
  /* Tinggi jadwal sholat diubah menjadi 40% */
}

#sponsor h2,
#guru-piket h2,
#jadwal-sholat h2 {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

#sponsor p,
#guru-piket p,
#jadwal-sholat p {
  font-size: 1rem;
  margin-bottom: 0;
}


#jadwal-sholat {
  background-color: #f8f9fa;
  /* Warna latar belakang */
  padding: 20px;
  /* Padding agar konten tidak terlalu dekat dengan tepi */
  border-radius: 8px;
  overflow: hidden;
  /* Membuat sudut elemen agak melengkung */
}

#sholat {
  font-size: 24px;
  /* Ukuran font untuk judul jadwal sholat */
  font-weight: bold;
  /* Membuat judul lebih menonjol */
}

.waktu-sholat {
  margin-top: 10px;
  /* Jarak antara judul dan waktu sholat */
}

/* .waktu-item {
  margin-bottom: 15px;
} */

.waktu-item strong {
  display: block;
  /* Membuat teks judul menjadi blok untuk memudahkan penataan */
}

.kalender-item {
  margin-top: 5px;
  /* Jarak antara item kalender */
}

.kalender-item strong {
  margin-right: 5px;
  /* Jarak antara judul dan nilainya */
}


#jam-sekarang {
  font-size: 30px;
  margin-top: 20px;
  margin-left: 0px;
}

.waktu-lewat {
  color: #ccc;
}

.waktu-sekarang strong {
  font-weight: bold;
  color: #333;
}

.waktu-sekarang span {
  color: #666;
}