/* body {
    font-size: 5em;
} */
.custom-table {
    font-size: 3em;
    min-height: 85%;
}

#pengumuman {
    font-size: 4em;
    color: white;
}

#guru-piket,
.waktu-sekarang,
.waktu-sholat {
    font-size: 1.5em;
}