@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway&display=swap');

body {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}
.custom-table {
    font-size: 3em;
    min-height: 85%;
}

#pengumuman {
    font-size: 4em;
    color: white;
}

/* #guru-piket,
.waktu-sekarang,
.waktu-sholat {
    font-size: 2em;
} */

.footer{
    background-color: rgb(173, 173, 173);
}


